# Git e IDE
.git
.gitignore
.vscode
.idea
*.swp

# Node/Front
node_modules
frontend/node_modules
frontend/dist
frontend/build
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache
.venv
venv
env

# SO / editor
.DS_Store
Thumbs.db

# Arquivos locais e segredos
*.env
.env*
*.pem
*.crt
*.key

# Outros
coverage
dist
build
